aiohttp==3.6.2
astroid==2.3.1
async-timeout==3.0.1
attrs==19.3.0
Automat==20.2.0
baidu-aip==2.2.18.0
beautifulsoup4==4.8.0
bleach==3.3.0
bs4==0.0.1
certifi==2019.9.11
cffi==1.14.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
curl==0.0.1
cycler==0.10.0
docopt==0.6.2
et-xmlfile==1.1.0
Flask==1.1.1
Flask-HTTPAuth==4.2.0
Flask-PageDown==0.3.0
flask-paginate==0.8.1
flask-redis==0.4.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.8
importlib-metadata==3.4.0
incremental==21.3.0
isort==4.3.21
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.10.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.2
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
multidict==4.6.1
numpy==1.19.5
openpyxl==3.0.7
packaging==20.9
pandas==1.2.3
parsel==1.6.0
Pillow==8.1.0
pipreqs==0.4.10
prettytable==0.7.2
priority==1.3.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pylint==2.4.2
pymssql==2.1.5
PyMySQL==0.9.3
pyodbc==4.0.30
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
queuelib==1.6.1
redis==3.4.1
requests==2.22.0
scipy==1.6.0
Scrapy==2.5.0
selenium==3.141.0
service-identity==18.1.0
simplejson==3.17.2
six==1.12.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
tushare==1.2.62
Twisted==21.2.0
typed-ast==1.4.0
typing-extensions==3.7.4.3
urllib3==1.25.7
virtualenv==16.7.9
virtualenvwrapper-win==1.2.5
w3lib==1.22.0
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
yarg==0.1.9
yarl==1.4.1
zipp==3.4.0
zope.interface==5.4.0
